@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

//Primary colors
$font-family-main: 'Rubik', sans-serif;
$blue-color: hsl(246, 80%, 60%);
$orange-color: hsl(15, 100%, 70%);
$soft-blue-color: hsl(195, 74%, 62%);
$light-red-color: hsl(348, 100%, 68%);
$lime-green-color: hsl(145, 58%, 55%);
$violet-color: hsl(264, 64%, 52%);
$soft-orange-color: hsl(43, 84%, 65%);

//Neutral colors
$very-dark-blue-color: hsl(226, 43%, 10%);
$dark-blue-color: hsl(235, 46%, 20%);
$desaturated-blue-color: hsl(235, 45%, 61%);
$pale-blue-color: hsl(236, 100%, 87%);